<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invite</title>
  <style>
    h1 {
      color: red;
    }
  </style>
</head>

<body>
  <h1>Olá {{ email }}!</h1>
  <p>Você foi convidado por {{ invitedFrom }} para participar no gerenciamento de tarefas da empresa {{ companyName }}!</p>
  <p><a href="{{ inviteLink }}">Clique aqui</a> para juntar-se a equipe!</p>
</body>

</html>